*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;;
}

.container{
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 50px;

}
